html,
body {
    min-height: 100%;
}
.humane-container-flatty {
    position: fixed;
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    top: 0;
    left: 30%;
    z-index: 100000;
    width: 100%;
}
.humane,
.humane-flatty {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 30%;
    margin: 0;
    z-index: 100000;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.4s ease-in-out;
}
.humane-container-flatty .humane,
.humane-container-flatty .humane-flatty {
    position: relative;
    top: auto;
    left: auto;
    margin: 6px 0 0 0;
}
.humane,
.humane-flatty {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    width: 40%;
    color: #444;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.humane.humane-flatty-info,
.humane-flatty.humane-flatty-info {
    background-color: #3498db;
    color: #FFF;
}
.humane.humane-flatty-success,
.humane-flatty.humane-flatty-success {
    background-color: #18bc9c;
    color: #FFF;
}
.humane.humane-flatty-error,
.humane-flatty.humane-flatty-error {
    background-color: #e74c3c;
    color: #FFF;
}
.humane-animate,
.humane-flatty.humane-flatty-animate {
    opacity: 1;
    transform: translateY(0);
}
.humane-animate:hover,
.humane-flatty.humane-flatty-animate:hover {
    opacity: 0.7;
}
.humane-js-animate,
.humane-flatty.humane-flatty-js-animate {
    opacity: 1;
    transform: translateY(0);
}
.humane-js-animate:hover,
.humane-flatty.humane-flatty-js-animate:hover {
    opacity: 0.7;
}
.humane p,
.humane-flatty p,
.humane ul,
.humane-flatty ul {
    margin: 0;
    padding: 0;
}
.humane ul,
.humane-flatty ul {
    list-style: none;
}
