.chessscreen {
    transform-origin: center center;
    transform: rotate(0deg);
}
.chessscreen.flipped {
    transform: rotate(180deg);
}
.chessboard {
    --mrg: 30px;
    --piecesz: 0.8;
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: var(--mrg);
    margin: 0 auto;
    border: 0;
    max-width: 100%;
    /*.no-select*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chessboard:focus {
    /*.no-select*/
    outline: none !important;
}
.chessboard-moves {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 100%;
    overflow-y: auto;
    counter-reset: count 0;
}
.chessboard-moves span {
    position: relative;
    display: block;
    font-size: 14px;
    counter-increment: count 1;
}
.chessboard-moves span::before {
    content: counter(count, decimal) '.';
    position: relative;
    display: inline-block;
    padding-right: 6px;
}
.chessboard-moves span + span {
    margin-top: 10px;
}
.chessboard-numbers {
    position: absolute;
    display: block;
    box-sizing: border-box;
    padding: 0;
}
.chessboard-numbers.top {
    top: 0; left: var(--mrg);
    width: calc(100% - 2 * var(--mrg));
    height: var(--mrg);
}
.chessboard-numbers.bottom {
    bottom: 0; left: var(--mrg);
    width: calc(100% - 2 * var(--mrg));
    height: var(--mrg);
}
.chessboard-numbers.left {
    top: var(--mrg); left: 0;
    height: calc(100% - 2 * var(--mrg));
    width: var(--mrg);
}
.chessboard-numbers.right {
    top: var(--mrg); right: 0;
    height: calc(100% - 2 * var(--mrg));
    width: var(--mrg);
}
.chessboard-numbers span {
    --x: 0;
    --y: 0;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    font-family: serif;
    font-size: calc(var(--mrg) * 2 / 3);
    font-weight: 900;
    top: calc(var(--y) * 100% / 8);
    left: calc(var(--x) * 100% / 8);
    transform-origin: center center;
}
.chessboard-numbers.bottom span,
.chessboard-numbers.top span {
    width: calc(100% / 8);
    height: var(--mrg);
    line-height: var(--mrg);
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
.chessboard-numbers.right span,
.chessboard-numbers.left span {
    width: var(--mrg);
    height: calc(100% / 8);
    text-align: center;
    transform: translate(0, calc(50% - var(--mrg) / 3));
}
.chessboard-numbers.top span {
    transform: rotate(180deg);
}
.chessboard-numbers.right span {
    transform: rotate(180deg) translate(0, calc(50% - var(--mrg) / 3));
}
.chessboard-squares {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}
.chessboard-squares::before {
    content: "";
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0;
    padding-bottom: 100%;
    z-index: -1;
}
.chessboard-squares .square {
    --piece: none;
    --x: 0;
    --y: 0;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: calc(100% / 8);
    height: calc(100% / 8);
    Overflow: hidden;
    border: 2px solid var(--cb);
    background-color: var(--c);
    top: calc(var(--y) * 100% / 8);
    left: calc(var(--x) * 100% / 8);
}
.chessboard-squares .square.piece::before {
    content: "";
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: calc(var(--piecesz) * 100%);
    height: calc(var(--piecesz) * 100%);
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    background-image: var(--piece);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.chessboard-squares {
    background-color: #E1B777;
}
.chessboard-squares .square.white {
    --c: #E1B777;
    --cb: #E1B777;
}
.chessboard-squares .square.black {
    --c: #77613F;
    --cb: #77613F;
}
.chessboard-squares .square.active {
    --c: orange;
    --cb: white;
    z-index: 2;
}
.chessboard-squares.b-check .square.piece.b-king,
.chessboard-squares.w-check .square.piece.w-king {
    border: 2px solid red !important;
}
/*default piece set*/
.chessboard-squares .piece.w-king {
    --piece: url(./pieceset/default/king_w.svg);
}
.chessboard-squares .piece.b-king {
    --piece: url(./pieceset/default/king_b.svg);
}
.chessboard-squares .piece.w-queen {
    --piece: url(./pieceset/default/queen_w.svg);
}
.chessboard-squares .piece.b-queen {
    --piece: url(./pieceset/default/queen_b.svg);
}
.chessboard-squares .piece.w-bishop {
    --piece: url(./pieceset/default/bishop_w.svg);
}
.chessboard-squares .piece.b-bishop {
    --piece: url(./pieceset/default/bishop_b.svg);
}
.chessboard-squares .piece.w-knight {
    --piece: url(./pieceset/default/knight_w.svg);
}
.chessboard-squares .piece.b-knight {
    --piece: url(./pieceset/default/knight_b.svg);
}
.chessboard-squares .piece.w-rook {
    --piece: url(./pieceset/default/rook_w.svg);
}
.chessboard-squares .piece.b-rook {
    --piece: url(./pieceset/default/rook_b.svg);
}
.chessboard-squares .piece.w-pawn {
    --piece: url(./pieceset/default/pawn_w.svg);
}
.chessboard-squares .piece.b-pawn {
    --piece: url(./pieceset/default/pawn_b.svg);
}
.chessboard.computer-human,
.chessboard.human-human.b-turn {
    transform-origin: center center;
    transform: rotate(180deg);
}
.chessboard.computer-human .square.piece,
.chessboard.human-human.b-turn .square.piece {
    transform-origin: center center;
    transform: rotate(180deg);
}
@media (max-width:800px) {
.chessboard.human-human.b-turn {
    transform-origin: center center;
    transform: rotate(0deg);
}
.chessboard.human-human.b-turn .square.piece {
    transform-origin: center center;
    transform: rotate(180deg);
}
}

